header.header{
    position: fixed;
    top: 0; /*이렇게하면 위쪽으로 고정이 된다*/
    width: 100%; /*언제나 화면 전체를 채우는 너비를 가진다.*/
    z-index: 999;
    background-color: white;
    color: black;
}

.header-content{
    width: 100%;
    max-width: 75rem; /* width: 100%; 이 기본 크기를 토대로 크기를 정하지만 최대 몇을 넘어가지 못하게 해준다*/
    height: 4rem; /*4rem=64px*/
    padding: 0.75rem 1rem; /*위아래로 0.75rem, 양옆으로 1rem 여백을 주다*/
    margin: auto; /*양끝 여백을 동일하게 적용하다. 그래서 max-width: 75rem 크기보다 큰 화면에서는 여유러운 여백을 가질수 있다*/
    justify-content: space-between; /*요소가 양끝으로 배치되게*/
}

.header-content_logo{
    color: #8e694b;
    font-size: 2rem;
    font-weight: 900; /*두껍게*/

    height: 1em; /*폰트 크기와 동일한 크기. 폰트 크기가 16px이면, 이 속성은 16px의 높이를 설정*/
    margin-right: 40px; /*이 속성은 오른쪽 마진을 40px로 설정. 마진은 요소와 주변 요소 사이의 간격을 나타냄.*/
    line-height: 40px; /*텍스트 라인의 높이를 설정.  텍스트의 각 줄은 40px의 높이를 갖게 된다*/
}

.header-content_nav{
    align-items: center; /*가운데로 위치시킴. 이때 위로 살짝 올라가기에 padding 설정해주기*/
    padding: 0 2.5rem 0 0; /*아직까지는 티가 나지 않지만 메뉴가 펼쳐질때 티가 난다*/
    flex-grow: 1; /*다른 flex item보다 더 커질수있게 만들어준다*/

}

.header-content_nav ul{ /*ul태그에서는 패딩과 마진이 필요없음*/
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.header-content_nav ul li{
    display: inline-block; /*아래로 나열되어있는거 가로로 펼치기*/
    margin-right: 30px; /*글씨 간 간격을 주기*/
    font-size: 1.13rem; 
    font-weight: 900;
}

.header-content_nav ul li.active{
    color: #8e694b;

}

.header-content_input{
    justify-content:center; /*옹기종기 모여있게 만들어줄것임*/
    align-items: center; /*수직에서 교차측에서 가운데 정렬됨. 조금 위에 붙애 있다가 조금 떨어지면 가운데 정려됨*/
}

.header-content_input .search{ /*입력창*/
    width: 18rem;
    height: 2.5rem;
    padding: 0.5625rem 0.75rem;
    background-color: #f2f3f6;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;

}

.header-content_input .chat{ /*채팅하기 버튼*/
    line-height: 1.3; /*line-height: 1.3처럼 숫자로 되어있으면 글자크기의 1.3배*/
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 0.5px solid #c5c5c9;
    border-radius: 0.25rem;
    font-weight: 600;
}

.header-content_input .icon input{ /*미디어쿼리를 적용하기 전, 아이콘에 포함된 input들에 대해 없어지는 효과(너비가 줄어들때 다른 아이콘으로 바뀌기 전 작업)*/
    /*아이콘 사이즈 조절과 안보이게 하기*/
    margin-right: 1rem;
    border: none;
    padding: 0;
    font-size: 1.5rem;
    background-color: transparent;
}

.header-content_input .icon{
    display: none;
}

/*미디어쿼리 적용: 1. 앞에 메뉴들이 어느순간 사라져야됨. 2.입력창 대신 돋보기 3. 버튼대신 3줄메뉴(햄버거버튼)*/
@media screen and (max-width: 1192px){ /*화면이 1192px보다 작을때는*/
    /*먼저 입력창을 없애기*/
    .header-content_input .search{
        display: none;
    }
    /*돋보기 보이게 하기*/
    .header-content_input .glass{
        display: block;
    }
}

/**/
@media screen and (max-width: 948px){ /*화면이 948px보다 작을때는*/
    /*먼저 채팅버튼과 메뉴들 없애기*/
    .header-content_input .chat, .header-content_nav{
        display: none;
    }
    /*돋보기 보이게 하기*/
    .header-content_input .menu{
        display: block;
    }
}
