.info{
    width: 100%;
    height: 19.6875rem;
    background-color: #c59b79;
}

.info_text{ /*문서의 흐름에 맞게 왼쪽부터 시작하는것을 볼수있음*/
    max-width: 48rem; /*48rem 이거보다 크지 않게 하기 위해 max-width 사용*/
    margin: auto;
    padding: 3rem 1rem 0;
}

.info_text h1{
    margin: 0; /*h1의 기본 마진을 없애주다*/
    font-size: 2rem;
    line-height: 3.2rem;
}
.info_text p{
    margin: 0.5rem 0 0; /*h1의 기본 마진을 없애주다*/ /*각각의 방향(위, 오른쪽, 아래, 왼쪽)에 대한 값으로, 여기서는 위,오,아래쪽*/
    font-size: 1.125rem;
    line-height: 2rem;
}

/*화면이 작아질때 p태그가 없어지는 효과 적용*/
@media screen and (max-width: 768px){
    .info{ /*info 부분도 작아져야된다*/
        height: 18.375rem;
    }
    .info_text{
        padding: 1.5rem 1rem 0;
    }
    .info_text h1{
        line-height: 2rem;
        font-size: 1.5rem;
    }
    .info_text p{
        display: none;
    }
}