*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body{
  margin: 0;
}
#container{
  width: 100%; /*화면 너비에 맞춰서 확장하게끔 해줌*/
  max-width: 640px;
  margin: auto; /*좌우여백에 맟춘다*/
}
header{ /*header는 위 필터링 부분. container의 자식이기에 width,max-width, height는 맞춰줌*/
  width: 100%;
  max-width: 640px;
  height: 60px;
  border-bottom: 1px solid #00000033;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; /*스크롤이 올라가도 헤더는 그대로 유지하기 위해*/
  top: 0;
}
.header__search{
  display: flex; /*input과 필터링을 양옆으로 하게 하고 싶어서*/
  align-items: center;
}
input, button, select{
  height: 30px;
  border: 0.5px solid gray;
}
main{ /*강아지가 표시되는 영역*/
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;/*여러줄로 정렬되게 만들어주다*/
  margin-top: 60px;
}
img{ /*이미지 사이즈 맞춰주기*/
  width: 200px; 
  height: 200px; 
}
.more, .tothetop{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
}
.more{
  color: #FFFFFF;
  background-color: #cd8f6b;
  left: 100px;
  bottom: 100px;
}
.tothetop{
  color: #FFFFFF;
  background-color: #AB4A12;
  right: 100px;
  bottom: 100px;
}

@media all and (max-width: 420px) {
  img{ width: 100%; height: 300px; }
}